<% include partials/header %>

    <div class="container container-edit" style="margin-top: 150px">
        <div class="row">
            <div class="col-lg-12 orders-title">
                <h4>Admin Page (dev)
                    
                </h4>
            </div>
        </div>
        
  

    <% include partials/footer %>