 <% include includes/header %>

    <form class="joinSurvey" action="#" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first" class="form-control" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last" class="form-control" /></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" name="email" class="form-control" /></td>
            </tr>
            <tr>
                <td>Location Country:</td>
                <td><span style="color: red !important; display: inline; float: none;">*</span>
                    <select id="country" name="country" class="form-control">
                    <ul class="countries">
                        <% countries.forEach(function(countries) { %>
                            <option><%= countries.Name %></option>
                        <% }) %>
                    </ul>
                </select></td>
            </tr>
            <tr>
                <td>Location State:</td>
                <td><span style="color: red !important; display: inline; float: none;">*</span>
                    <select id="state" name="state" class="form-control">
                    <ul class="states">
                        <% states.forEach(function(states) { %>
                            <option><%= states.Name %></option>
                        <% }) %>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Location City:</td>
                <td><input type="text" name="city" class="form-control"/></td>
            </tr>
        </table>
    </form>

<% include includes/footer %>