<% include partials/header %>

    <div class="container">
        <div class="jumbotron">
            <div class="container-jumbo" style="margin-top: 20px">
                <h1 class="logo">Welcome to OrderSponse</h1>
                <h3>Your custom order management solution</h3>
                <p>
                    <a class="btn btn-primary btn-lg" href="/orders">View Orders</a>

                    <a class="btn btn-primary btn-lg" href="/orders/new">New Order</a>

                    <a class="btn btn-primary btn-lg" href="/charts">Analytics</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--<h3>Welcome!</h3>-->
            </div>
        </div>

    </div>

    <% include partials/footer %>